# Entorno virtual
venv/
.env/
ENV/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales
*.log
*.tmp
*.swp
*.bak

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
